In [ ]:
#201814083 최명환

In [ ]:
import pandas as pd

In [ ]:
midwest = pd.read_csv('/midwest.csv')

In [ ]:
#num1_midwest 데이터 특징 보기.

In [ ]:
midwest.head()
midwest.tail()
midwest.shape  #행과 열 갯수 출력
midwest.info() # 변수 속성 출력문
midwest.describe() #통계량 출력

In [ ]:
#num2_전체인구를 total로 수정 , 아시아인구 = popasian 을 asian으로 수정

In [ ]:
midwest = midwest.rename(columns = {'poptotal' : 'total'})

In [ ]:
midwest = midwest.rename(columns = {'popasian' : 'asian'})

In [ ]:
#num3_total,asian 변수를 이용해 전체인구 대비 아시아 인구 백분율 파생변수 추가 후 히스토그램을 만들어 분포를 살펴보기.

In [ ]:
midwest['ratio'] = midwest['asian']/midwest['total']*100

In [ ]:
midwest['ratio'].plot.hist()

In [ ]:
#num4_아시아 인구 백분율 전체 평균을 구하고, 평균을 초과하면 large로 외에는 small을 부여한 파생변수 출력하기.

In [ ]:
midwest['ratio'].mean()

In [ ]:
import numpy as np

In [ ]:
midwest['group'] = np.where(midwest['ratio']>0.4872 , 'large' ,'small')

In [ ]:
#num5_large와 small 에 해당하는 지역이 얼마나 많은지 빈도표와 빈도 막대 그래프 만들어 보기.

In [ ]:
count_group = midwest['group'].value_counts()
count_group

In [ ]:
count_group.plot.bar(rot = 0)